# Dependencies
node_modules
**/node_modules

# Environment variables
.env
**/.env

# Build output
dist
**/dist
build
**/build

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite
**/.vite

# Editor
.vscode
.idea